*{
    box-sizing: border-box;
}

body{
    background: rgb(26, 25, 25);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.panel-container{
    background-color: #1d1c1c;
    box-shadow:  0 0 8px rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    width: 700px;
    color: #fff;
}